
shorts.docx
.Rproj.user
code/code-references.R
code/.Rhistory
.Rhistory
images/insects/Abisara saturata.jpg
images/insects/Achaea serva.jpg
images/insects/Acraea terpsicore.jpg
images/insects/Agrionoptera insignis.jpg
images/insects/Amata huebneri.jpg
images/insects/Amathusia phidippus.jpg
images/insects/Anax guttatus.jpg
images/insects/Anthene emolus.jpg
images/insects/Anthene lycaenina.jpg
images/insects/Antilochus coquebertii.jpg
images/insects/Apis cerana.jpg
images/insects/Apis florea.jpg
images/insects/Appias libythea.jpg
images/insects/Arhopala abseus.jpg
images/insects/Arhopala centaurus.jpg
images/insects/Asota egens.jpg
images/insects/Asota subsimilis.jpg
images/insects/Aspilosterna albovittata.jpg
images/insects/Attacus atlas.jpg
images/insects/Bibasis harisa.jpg
images/insects/Borbo cinnara.jpg
images/insects/Brachydiplax chalybea.jpg
images/insects/Caltoris cormasa.jpg
images/insects/Camacinia gigantea.jpg
images/insects/Catochrysops panormus.jpg
images/insects/Catopsilia pomona.jpg
images/insects/Catopsilia pyranthe.jpg
images/insects/Cephrenes trichopepla.jpg
images/insects/Chalybion bengalense.jpg
images/insects/Cheritra freja.jpg
images/insects/Chilades pandava.jpg
images/insects/Chrysomya megacephala.jpg
images/insects/Cicindela aurulenta.jpg
images/insects/Crocothemis servilia.jpg
images/insects/Cupha erymanthis.jpg
images/insects/Danaus chrysippus.jpg
images/insects/Danaus genutia.jpg
images/insects/Daphnis nerii.jpg
images/insects/Delias hyparete.jpg
images/insects/Diplacodes trivialis.jpg
images/insects/Doleschallia bisaltide.jpg
images/insects/Drupadia ravindra.jpg
images/insects/Dysdercus cingulatus.jpg
images/insects/Dysdercus decussatus.jpg
images/insects/Elymnias hypermnestra.jpg
images/insects/Euploea crameri.jpg
images/insects/Euploea eyndhovii.jpg
images/insects/Euploea phaenareta.jpg
images/insects/Eurema blanda.jpg
images/insects/Eurema hecabe.jpg
images/insects/Eurema sari.jpg
images/insects/Euthalia aconthea.jpg
images/insects/Euthalia adonia.jpg
images/insects/Evania appendigaster.jpg
images/insects/Faunis canens.jpg
images/insects/Flos apidanus.jpg
images/insects/Gesonula mundata.jpg
images/insects/Graphium agamemnon.jpg
images/insects/Graphium sarpedon.jpg
images/insects/Hasora chromus.jpg
images/insects/Hemicordulia tenera.jpg
images/insects/Hydrobasileus croceus.jpg
images/insects/Hypolimnas anomala.jpg
images/insects/Hypolimnas bolina.jpg
images/insects/Hypolycaena erylus.jpg
images/insects/Iambrix salsala.jpg
images/insects/Iraota rochana.jpg
images/insects/Ischnura senegalensis.jpg
images/insects/Jamides bochus.jpg
images/insects/Junonia almana.jpg
images/insects/Junonia hedonia.jpg
images/insects/Junonia orithya.jpg
images/insects/Lampides boeticus.jpg
images/insects/Lathrecista asiatica.jpg
images/insects/Lebadea martha.jpg
images/insects/Leptocoris rufomarginatus.jpg
images/insects/Loboschiza koenigiana.jpg
images/insects/Logania marmorata.jpg
images/insects/Lyssa zampa.jpg
images/insects/Macrodiplax cora.jpg
images/insects/Megachile disjuncta.jpg
images/insects/Megisba malaya.jpg
images/insects/Mictis longicornis.jpg
images/insects/Mycalesis fusca.jpg
images/insects/Mycalesis mineus.jpg
images/insects/Mycalesis perseus.jpg
images/insects/Nacaduba biocellata.jpg
images/insects/Nacaduba calauria.jpg
images/insects/Nacaduba kurava.jpg
images/insects/Nacaduba pactolus.jpg
images/insects/Neptis hylas.jpg
images/insects/Neurothemis fluctuans.jpg
images/insects/Nomia strigata.jpg
images/insects/Notocrypta paralysos.jpg
images/insects/Oecophylla smaragdina.jpg
images/insects/Oriens gola.jpg
images/insects/Orthetrum chrysis.jpg
images/insects/Orthetrum glaucum.jpg
images/insects/Orthetrum sabina.jpg
images/insects/Orthetrum testaceum.jpg
images/insects/Papilio clytia.jpg
images/insects/Papilio peranthus.jpg
images/insects/Papilio polytes.jpg
images/insects/Parthenos sylvia.jpg
images/insects/Pelopidas agna.jpg
images/insects/Petrelaea dana.jpg
images/insects/Phaedyma columella.jpg
images/insects/Phalanta phalantha.jpg
images/insects/Phalerimeris phalerata.jpg
images/insects/Plastingia naga.jpg
images/insects/Polistes sagittarius.jpg
images/insects/Polyura hebe.jpg
images/insects/Potanthus omaha.jpg
images/insects/Prosotas dubiosa.jpg
images/insects/Prosotas nora.jpg
images/insects/Pseudagrion microcephalum.jpg
images/insects/Pseudozizeeria maha.jpg
images/insects/Pyroneura latoia.jpg
images/insects/Rapala pheretima.jpg
images/insects/Rhyothemis phyllis.jpg
images/insects/Rhyothemis triangularis.jpg
images/insects/Solenopsis geminata.jpg
images/insects/Spalgis epius.jpg
images/insects/Suastus gremius.jpg
images/insects/Surendra vivarna.jpg
images/insects/Tajuria cippus.jpg
images/insects/Tartessus ferrugineus.jpg
images/insects/Tholymis tillarga.jpg
images/insects/Tramea transmarina.jpg
images/insects/Traminda mundissima.jpg
images/insects/Trithemis aurora.jpg
images/insects/Troides helena.jpg
images/insects/Ugia serrilinea.jpg
images/insects/Valanga nigricornis.jpg
images/insects/Xenocatantops humilis.jpg
images/insects/Xylocopa latipes.jpg
images/insects/Zizula hylax.jpg
images/insects/Zographetus doxus.jpg
*.pptx
data/processed/simple_sentosa_obs.prj
data/processed/simple_sentosa_obs.shx
data/raw/divagis_SGP_adm0-refactored.cpg
data/raw/divagis_SGP_adm0-refactored.prj
data/raw/divagis_SGP_adm0-refactored.shx
data/raw/divagis_SGP_adm0.shx
data/raw/divagis_SGP_roads.shx
data/raw/divagis_SGP_water_areas_dcw.shx
data/raw/gawyeerichards_sgmap.csv
data/raw/gawyeerichards_sgmap.lyr
data/raw/gawyeerichards_sgmap.tfw
data/raw/gawyeerichards_sgmap.tif
data/raw/gawyeerichards_sgmap.tif.aux.xml
data/raw/gawyeerichards_sgmap.tif.ovr
data/raw/gawyeerichards_sgmap.tif.vat.dbf
data/raw/gawyeerichards_sgmap.tif.xml
singapore.qgz
